:root {
    --secondary: #33255e;
    --primary: white;
    --half: #9992af;
    --danger: #f32013;
    --spinner-width: 80px;
    --spinner-color: #33255e;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.image {
    max-width: 100%;
    max-height: 1000px;
    border-radius: 0.25rem;
}

.btn {
    padding: 0.5rem 1rem !important;
    border-radius: 0.5rem;
    background-color: var(--primary);
    border: 1px solid var(--secondary);

    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--primary);
}

.btn.btn-secondary:hover {
    transform: scale(1.1);
}

.avatar {
    border-radius: 50%;
}

.avatar.fluid {
    width: 100%;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    text-align: center;
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-top: none;
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    top: 0;
    left: 0;

    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s;
}

.message.show {
    opacity: 1;
    transform: scaleX(1);
}

.message span,
.message.show span,
.message.show.danger span {
    flex: 1;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
}

.message button,
.message.show button,
.message.danger button {
    width: auto;
    background: none;
    border: none;
    font-size: larger;
    font-weight: bold;
    color: var(--secondary);

    padding: 1rem;
    transition: all 0.3s;
    cursor: pointer;
}

.message button:focus,
.message.show button:focus,
.message.danger button:focus {
    color: inherit;
    outline: none;
}
.message button:hover,
.message.show button:hover,
.message.danger button:hover {
    outline: none;
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
}

.message.danger {
    background-color: var(--danger);
    border: 2px solid var(--secondary);
    border-top: none;
}

.lds-roller {
    display: inline-block;
    position: absolute;
    width: var(--spinner-width);
    height: var(--spinner-width);
    left: 40%;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: calc(var(--spinner-width) / 2)
        calc(var(--spinner-width) / 2);
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: calc(var(--spinner-width) / 10);
    height: calc(var(--spinner-width) / 10);
    border-radius: 50%;
    background: var(--spinner-color);
    margin-top: calc((var(--spinner-width) / 20 - 1) * -1);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: calc((var(--spinner-width) / 20 - 1) * -1);
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: calc(var(--spinner-width) * 0.7875);
    left: calc(var(--spinner-width) * 0.7875);
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: calc(var(--spinner-width) * 0.85);
    left: calc(var(--spinner-width) * 0.7);
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: calc(var(--spinner-width) * 0.8875);
    left: calc(var(--spinner-width) * 0.6);
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: calc(var(--spinner-width) * 0.9);
    left: calc(var(--spinner-width) * 0.5);
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: calc(var(--spinner-width) * 0.8875);
    left: calc(var(--spinner-width) * 0.4);
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: calc(var(--spinner-width) * 0.85);
    left: calc(var(--spinner-width) * 0.3);
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: calc(var(--spinner-width) * 0.7875);
    left: calc(var(--spinner-width) * 0.2125);
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: calc(var(--spinner-width) * 0.7);
    left: calc(var(--spinner-width) * 0.15);
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.reblogged {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 0.25rem;
}

.no-pointer {
    cursor: default !important;
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.socialki-center .inline-message {
    margin-left: auto;
    margin-right: auto;
}

.inline-message {
    display: none;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: var(--danger);

    font-size: larger;
    font-weight: bold;

    box-shadow: 0px 0px 5px 2px var(--danger);
    -webkit-box-shadow: 0px 0px 5px 2px var(--danger);
    -moz-box-shadow: 0px 0px 5px 2px var(--danger);

    transition: all 0.3s;
    opacity: 0;
}

.inline-message button {
    background: none;
    border: none;

    color: var(--danger);
    font-size: x-large;
    font-weight: bold;
}

.inline-message.show {
    opacity: 1;
    display: flex;
}

.select {
    font-size: larger;
    position: relative;

    border: 2px solid var(--secondary);
    border-radius: 0.25rem;
}

.select.show {
    border-radius: 0.25rem 0.25rem 0 0;
}

.select--preview {
    padding: 0 0.25rem;
    background-color: var(--primary);
    color: var(--secondary);

    transition: all 0.3s;
}

.select--preview:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.select--options {
    position: absolute;

    left: -0.15rem;

    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 0 0.25rem 0.25rem 0.25rem;

    transform: scaleY(0);
    opacity: 0;

    transform-origin: top;
    transition: all 0.3s;
}

.select--options.show {
    display: block;
    transform: scaleY(1);
    opacity: 1;
}

.select--option {
    padding: 0.25rem;
    display: flex;
    align-items: center;

    transition: all 0.3s;
}

.select--option i {
    margin-right: 0.5rem;
}

.select--option:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

@media only screen and (max-width: 600px) {
    .inline-message {
        width: 100%;
    }
}
