:root {
    /* --primary: #33255e;
    --secondary: #fff; */
    --primary: #fff;
    --secondary: #33255e;
    --half: #9992af;
    --danger: #f32013;
    --spinner-width: 80px;
    --spinner-color: #33255e;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* background: var(--secondary);
    background: linear-gradient(0deg, var(--half) 0%, var(--primary) 100%); */

    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.image {
    max-width: 100%;
    max-height: 1000px;
    border-radius: 0.25rem;
}

section {
    /* background: var(--secondary);
    background: linear-gradient(
        0deg,
        var(--primary) 0%,
        var(--half) 50%,
        var(--primary) 100%
    ); */
}

.btn {
    padding: 0.5rem 1rem !important;
    border-radius: 0.5rem;
    background-color: var(--primary);
    border: 1px solid var(--secondary);

    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn.btn-secondary {
    background-color: var(--secondary);
    border-color: var(--primary);
    color: var(--primary);
}

.btn.btn-secondary:hover {
    transform: scale(1.1);
}

.avatar {
    border-radius: 50%;
}

.avatar.fluid {
    width: 100%;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    text-align: center;
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 0.5rem;
    left: 10%;
    top: 8%;
    width: 80%;
    opacity: 0;
    transform: scaleX(0);
    transition: all 0.3s;
}

.message.show {
    opacity: 1;
    transform: scaleX(1);
}

.message span,
.message.show span,
.message.show.danger span {
    flex: 1;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
}

.message button,
.message.show button,
.message.danger button {
    width: auto;
    background: none;
    border: none;
    font-size: larger;
    font-weight: bold;
    color: var(--secondary);

    padding: 1rem;
    transition: all 0.3s;
    cursor: pointer;
}

.message button:focus,
.message.show button:focus,
.message.danger button:focus {
    color: inherit;
    outline: none;
}
.message button:hover,
.message.show button:hover,
.message.danger button:hover {
    outline: none;
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
}

.message.danger {
    background-color: var(--danger);
    border: 2px solid var(--secondary);
}

.lds-roller {
    display: inline-block;
    position: absolute;
    width: var(--spinner-width);
    height: var(--spinner-width);
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: calc(var(--spinner-width) / 2)
        calc(var(--spinner-width) / 2);
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: calc(var(--spinner-width) / 10);
    height: calc(var(--spinner-width) / 10);
    border-radius: 50%;
    background: var(--spinner-color);
    margin: -calc(var(--spinner-width) / 20 -1) 0 0 -calc(var(--spinner-width) /
                20 - 1);
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: calc(var(--spinner-width) * 0.7875);
    left: calc(var(--spinner-width) * 0.7875);
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: calc(var(--spinner-width) * 0.85);
    left: calc(var(--spinner-width) * 0.7);
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: calc(var(--spinner-width) * 0.8875);
    left: calc(var(--spinner-width) * 0.6);
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: calc(var(--spinner-width) * 0.9);
    left: calc(var(--spinner-width) * 0.5);
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: calc(var(--spinner-width) * 0.8875);
    left: calc(var(--spinner-width) * 0.4);
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: calc(var(--spinner-width) * 0.85);
    left: calc(var(--spinner-width) * 0.3);
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: calc(var(--spinner-width) * 0.7875);
    left: calc(var(--spinner-width) * 0.2125);
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: calc(var(--spinner-width) * 0.7);
    left: calc(var(--spinner-width) * 0.15);
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.reblogged {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 0.25rem;
}

.no-pointer {
    cursor: default !important;
}
