header {
    padding: 1rem;
    color: var(--secondary);
    position: sticky;
}

header div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item a,
.nav-item button {
    margin-right: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav-item a i,
.nav-item button i {
    font-size: x-large;
}

.nav-item a div,
.nav-item button div {
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    margin-top: 0;
    font-weight: bold;
}

.nav-item a div.show,
.nav-item button div.show {
    opacity: 1;
    margin-top: 1.5rem;
}

.nav-item button {
    border: none;
    background: none;
    color: var(--secondary);
    font-size: medium;
    cursor: pointer;
}

.nav-item button:focus {
    outline: none;
}

.nav-item.profileImage a div.show {
    opacity: 1;
    margin-top: 3rem;
}
