.profile--info {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.profile--head {
    display: flex;
    justify-content: space-around;
}

.profile--left,
.profile--right {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
}

.profile--left h3,
.profile--right h3 {
    font-weight: lighter;
}

.profile--left h2,
.profile--right h2 {
    font-weight: 400;
}

.profile--center {
    width: 15%;
    text-align: center;
}

.profile--center .profile--username {
    font-weight: 600;
    font-size: x-large;
}

.profile--description {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1rem;
}

.profile--actions {
    display: flex;
    justify-content: space-evenly;
}

.profile--actions div,
.profile--actions a {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    background-color: var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;

    transition: all 0.3s;
}

.profile--actions div:hover,
.profile--actions a:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.profile--actions div:active,
.profile--actions a:active {
    transform: scale(1.1);
}

.profile--actions div i,
.profile--actions a i {
    margin-right: 0.5rem;
}
