.socialki-center .socialki {
    margin-left: auto;
    margin-right: auto;
}

.socialki {
    display: flex;
    width: 60%;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    overflow: hidden;

    box-shadow: 0px 0px 5px 2px var(--secondary);
    -webkit-box-shadow: 0px 0px 5px 2px var(--secondary);
    -moz-box-shadow: 0px 0px 5px 2px var(--secondary);
}

.socialki--actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0.5rem 1rem;
    border-right: 5px solid var(--secondary);
    justify-content: flex-end;
}

.socialki--actions i {
    font-size: x-large;
    margin: 0.5rem 0;
    cursor: pointer;
    transition: all 0.15s;
}

.socialki--actions i:hover {
    transform: scale(1.1);
}

.socialki--reblog {
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid var(--secondary);
    border-radius: 0.25rem;
    padding: 0.5rem;
    cursor: auto;
}

.socialki--main {
    padding: 0.75rem;
    padding-left: 2rem;
    background-color: var(--primary);
    color: var(--secondary);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.socialki--body img {
    border: 2px solid var(--secondary);
    margin-bottom: 1rem;
}

.socialki--body span {
    font-size: larger;
    font-weight: 600;
    cursor: text;

    margin-bottom: 1rem;
}

.socialki--user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: auto;
}

.socialki--user span {
    font-weight: bold;
}

.socialki--user i {
    font-size: xx-large;
}

.socialki--comments {
    border-radius: 0.5rem;
    padding: 1rem;
    width: 60%;
    box-shadow: 0px 0px 5px 2px var(--secondary);
    -webkit-box-shadow: 0px 0px 5px 2px var(--secondary);
    -moz-box-shadow: 0px 0px 5px 2px var(--secondary);
}

.socialki--comments .socialki {
    width: 100%;
}

.socialki--comments-form {
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px 2px var(--secondary);
    -webkit-box-shadow: 0px 0px 5px 2px var(--secondary);
    -moz-box-shadow: 0px 0px 5px 2px var(--secondary);
}

.socialki--comments-form.form-item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--secondary);
}

.socialki--comments-form.form-item i {
    position: absolute;
    left: 0.5rem;
    font-size: larger;
}

.socialki--comments-form.form-item textarea {
    font-size: large;
    color: var(--secondary);
}

.socialki--comments-form .form-item input,
.socialki--comments-form .form-item textarea,
.socialki--comments-form .form-item select {
    padding: 0.5rem;
    padding-left: 2rem;
    flex: 1;
    border: 1px solid var(--secondary);
    border-radius: 0.25rem;
}

.socialki--comments-form.form-item input:focus,
.socialki--comments-form.form-item textarea:focus,
.socialki--comments-form.form-item select:focus {
    outline-color: var(--secondary);
}

.socialki--comments-form--actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialki--comments-form--image {
    color: var(--secondary);
}

.socialki--comments-form--image label {
    font-size: larger;
    padding: 0.5rem;
}

.socialki--comments-form--image {
    border-radius: 0.25rem;
    transition: all 0.3s;
    border: 2px solid var(--secondary);
}

.socialki--comments-form--image:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.socialki--comments-form div input[type="file"] {
    display: none;
}

.socialki--comments-form--actions {
    position: relative;
}

.socialki--comments-form--actions button {
    position: absolute;
    right: 0.5rem;
    background: none;
    border: 2px solid var(--secondary);
    color: var(--secondary);
    border-radius: 0.5rem;
    padding: 0.25rem;

    font-weight: bold;

    transition: all 0.3s;
}

.socialki--comments-form--actions button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.socialki--comments-form--actions button:active {
    outline: none;
    transform: scale(1.1);
}

.socialki--comments-form--actions button:focus {
    outline: none;
}

.socialki--comments-form--actions button div.lds-roller {
    margin-left: 0.5rem;
    margin-bottom: 0.2rem;
}
